/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/* IDs */
html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push {
    margin: 20px;
}

/* Set the fixed height of the footer here */
#push,
#damnedfooter {
    height: 60px;

}

#damnedfooter {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #damnedfooter {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 60px;
}

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

/* Responsive layout for typography */
@media (max-width: 400px) {
    body {
        font-size: 0.5em;
    }
}

.jumbotron {
    background: url("../img/asd.jpg");
    color: white;
    max-width: inherit;
}


#monthsReq, #devsReq {
    background: #3c3c3c;
    font-size: xx-large;
    color: #9cfaff;
}
